li a {
  color: green;
}

body {
  position: relative;
  z-index:1;
  overflow:hidden; /*if you want to crop the image*/
}

body:before {
  z-index:-1;
  position:absolute;
  left:0;
  top:0;
  content: url("images/background.gif");
  opacity:0.4;
}
